.cursor {
  position: absolute;
  z-index: 11;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  background-color: white;
  mix-blend-mode: difference;
  transition: transform 0.1s linear;
  pointer-events: none;
}
